[submodule "kicad-ESP8266"]
	path = kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266.git
[submodule "SparkFun-KiCad-Libraries"]
	path = SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries
